# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Ambientes virtuais
env/
venv/
ENV/
.venv/

# Flask
instance/
.webassets-cache

# Banco de dados
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema Operacional
.DS_Store
Thumbs.db

# Logs
*.log
*.pot

# Cache
.cache/
*.cache
